.rightPanelContainer {
    .titleContainer {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        box-sizing: border-box;
        .title {
            font-size: 18px;
            font-weight: 600;
        }
        .btn {
            padding: 4px 8px;
            border-radius: 12px;
            border: 1px solid lightgrey;
            font-size: 12px;
            &.active {
                color: #22C55E;
            }
            &.inactive {
                color: #EF4444;
            }
        }
    }
}